//Color Variable
$clr_white: #fff;
$clr_offwhite: rgba(255,255,255,0.75);
$clr_black: #000;
$clr_cod: #111;
$clr_emperor: #666666;
$clr_tundora: #444;
$clr_yellow: #FFC422;
$clr_mine_shaft: #252525;
$clr_catskill: #F9FAFC;
$clr_gray: #888888;
$clr_albastor: #F8F8F8;
$clr_athens: #F3F4F6;
$clr_sand:#F5F5F5;
$clr_mercury:#E1E1E1;
$clr_russian:#060125;
$clr_haiti:#120E30;
$clr_kepple:#43B4A0;
$clr_mirage:#231F3E;
$clr_carnation:#F76162;
$clr_rock:#07012F;

//Mixins & Animation CSS
@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}
@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
/*---------------------------------
        Header CSS 
-----------------------------------*/
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}
.header-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    @include transition(0.4s);
    &.sticky {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        @include transition(0.4s);
        background: $clr_white;
        position: fixed;
        width: 100%;
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    }
    &.style1{
        background-color: $clr_rock;
        button{
            &.searchbtn{
               background-color: rgba(255, 255, 255, 0.1);
                i{
                    color: $clr_white;
                }
            }
        }
    }
    &.style2,
    &.style3{
        box-shadow: 0 0 15px rgba(0, 0, 0, .05);
        .sticky{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            background: $clr_white;
        }
        button{
            &.searchbtn{
               background-color: rgba(67, 180, 160,0.09);
                i{
                    color: $clr_kepple;
                }
            }
        }
    }
    button{
        &.searchbtn{
            background: transparent;
            border: none;
            position: relative;
            margin-right: 20px;
            top: 3px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            @extend %flex_column_center;
            i{
                font-size: 18px;
                line-height: 0.8;
                color: $clr_white;
                margin: 0 auto;
            }
        }
    }
    &.style2,
    &.style3{
        button{
            &.searchbtn{
                i{
                    color: $clr_kepple;
                }
            }
        }
    }
}
.search-area {
    position: fixed;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100vh;
    @extend %flex;
    @extend %flex_column_center;
    visibility: hidden;
    background: $clr_carnation;
    opacity: 0;
    z-index: 990;
    @include transform(translateX(-50%));
    @include transition(0.4s);
    &.open {
        width: calc(100% + 1px);
        visibility: visible;
        opacity: 1;
    }
    .close-searchbox {
        position: absolute;
        top: 15px;
        right: 10px;
        background: transparent;
        border: none;
        i {
            color: $clr_white;
            font-size: 35px;
            font-weight: 300;
        }
    }
    .form-group {
        width: 100%;
        input {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 20px;
            padding: 20px;
            color: $clr_white;
            &::placeholder {
                color: $clr_white;
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand img {
        max-width: 120px;
    }
}
@media only screen and (max-width: 991px) {
    .header-wrap {
        button{
            &.searchbtn{
                width: 38px;
                height: 38px;
                top: -3px;
                i{
                    font-size: 16px;
                }
            }
        }
        .container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .navbar{
            .navbar-collapse{
                -webkit-box-align: start;
                -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
                align-items: flex-start;
            }
            .navbar-nav{
                width: 100%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .nav-item{
                    position: relative;
                    .menu-expand {
                        position: absolute;
                        right: 0;
                        top: 14px;
                        cursor: pointer;
                        i {
                            color: $clr_black;
                            font-size: 18px;
                            line-height: 1;
                            position: relative;
                            top: 7px;
                        }
                    }
                    a{
                        border-bottom: 1px solid $clr_athens;
                        padding-top:15px;
                        padding-bottom:15px;
                        color: $clr_black;
                        i{
                            display: none;
                        }
                        &.active{
                            color: $clr_kepple;
                        }
                    }
                    .btn{
                        color: $clr_white;
                        margin-top:15px ;
                        display: block;
                        width: 100%;
                        &:after{
                            display: none;
                        }
                    }
                    .dropdown-menu{
                        width: 100%;
                        background-color: $clr_white;
                        border: none;
                        padding:0 ;
                        li{
                            a{
                                font-size: 14px;
                                padding-left: 10px;
                                margin-left: 10px;
                                &.active{
                                    color: $clr_kepple;
                                }
                            }
                        }
                        .nav-item{
                            .dropdown-menu{
                                margin-left: 20px;
                            }
                        }
                    }
                    .btn{
                        &.style1{
                            margin-top: 15px;
                            color: $clr_white;
                        }
                    }
                }
            }
        }
    }
    .mobile-bar-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right;
        position: relative;
        top: 4px;
    }
    .menu-close {
        position: absolute;
        top: 13px;
        right: 16px;
        i {
            color: $clr_black;
            font-size: 25px;
        }
    }
    .mobile-menu {
        text-align: right;
        display: inline-block;
        position: relative;
        top: -4px;
        a {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            background-color: $clr_kepple;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;
            -webkit-box-pack:center;
                -ms-flex-pack:center;
                    justify-content:center;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            i {
                font-size: 22px;
                color: $clr_white;
                margin: 0 auto;
            }
        }
    }
    .mobile-top-bar {
        display: inline-block;
        margin-right: 6px;
        cursor: pointer;
        position: relative;
        top: 0px;
        span {
            display: block;
            width: 20px;
            height: 2px;
            background-color: $clr_black;
            border-radius: 20px;
            margin: 5.9px 0;
            &:nth-child(1) {
                margin-top: 0;
            }
            &:nth-child(2) {
                width: 12px;
                margin-left: 8px;
            }
        }
    }
    .main-menu-wrap {
        width: 100%;
        position: fixed;
        background: $clr_white;
        z-index: 999;
        top: 0;
        height: 100vh;
        transition: 0.5s;
        left: -100%;
        padding: 55px 20px 30px;
        overflow-y: auto;
        @include transition(0.4s);

        &.open {
            left: 0;
        }
    }
    .main-menu {
        & > li {
            &.has-children {
                &.menu-open {
                    & > span.menu-expand {
                        transform: rotate(180deg);

                        i {
                            color: $clr_black;
                        }
                    }
                }
            }
            & > ul {
                & > li {
                    &.has-children {
                        &.menu-open {
                            & > span.menu-expand {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
        li {
            position: relative;
            &:last-child {
                margin: 0;
            }
            & > span {
                &.menu-expand {
                    position: absolute;
                    right: 0;
                    top: 13px;
                    cursor: pointer;
                    i {
                        color: $clr_black;
                        font-size: 18px;
                    }
                    &:hover {
                        color: $clr_black;
                    }
                }
            }

            a {
                &.active {
                    color: $clr_black;
                }
            }

            & > a {
                font-size: 14px;
                font-weight: 400;
                color: $clr_black;
                text-transform: capitalize;
                display: block;
                padding: 12px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

                &:hover {
                    color: $clr_black;
                }
            }

            & > ul.sub-menu {
                padding-left: 20px;
            }
        }
    }
    .header-wrap .main-menu-wrap #menu > ul > li > a::after {
        display: none;
    }
    .main-menu li a.active {
        font-weight: 600;
        color: $clr_black;
        border-color: rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (min-width: 992px) {
    .menu-expand i {
        display: none;
    }
    .header-wrap{
        &.style1{
            .navbar{
                .navbar-nav{
                    .nav-item{
                        a{
                            color:$clr_white;
                            &:hover,
                            &:focus,
                            &.active{
                                color: $clr_kepple;
                            }
                        }
                        .dropdown-menu {
                            li{
                                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                                a{
                                    color: $clr_offwhite;
                                    &.active{
                                        color: $clr_kepple;
                                    }
                                }
                            }
                        }
                        .dropdown-menu {
                            background-color: $clr_rock;
                        }
                    }
                }
            } 
        }
        &.style2{
            .navbar{
                .navbar-nav{
                    .nav-item{
                        .dropdown-menu {
                            li{
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }
            } 
        }
        .navbar{
            padding: 0;
            .navbar-brand{
                padding: 0 20px 0 0;
            }
            ul {
                padding-left: 0;
                list-style-type: none;
                margin-bottom: 0;
            }
            .navbar-nav{
                margin:0 20px 0 0;
            }
            .navbar-nav{
                >.nav-item{
                    >a{
                        &:after{
                            position: absolute;
                            top: 41px;
                            left: -8px;
                            content: "";
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: $clr_kepple;
                            visibility: hidden;
                            opacity: 0;
                            @include transition(0.4s);
                        }
                    }
                }
                .nav-item{
                    position: relative;
                    margin: 0 10px;
                    &.first-child{
                        margin-left: 0;
                    }
                    a{
                        color:$clr_black;
                        font-weight: 500;
                        padding: 30px 0;
                        @include transition(0.4s);
                        position: relative;
                        
                        &:hover,
                        &:focus,
                        &.active{
                            color: $clr_kepple;
                            &:after{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                        i {
                            font-size: 18px;
                            line-height: 1;
                            position: relative;
                            top: 3px;
                            display: inline-block;
                            margin-left: -3px;
                            @include transition(0.4s);
                        }
                        &:hover{
                            i{
                                @include transform(rotate(180deg));
                            }
                        }
                    }
                    .dropdown-menu {
                        display: block!important;
                        border: none;
                        top: 95px;
                        left: -23px;
                        z-index: 99;
                        opacity: 0;
                        width: 265px;
                        padding: 0;
                        display: block;
                        border-radius: 0;
                        border-bottom: 2px solid $clr_kepple;
                        border-radius: 0 0 5px 5px;
                        position: absolute;
                        visibility: hidden;
                        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
                        box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
                        @include transition(0.5s);
                        li {
                            margin: 0;
                            &:last-child{
                                border-bottom: none;
                            }
                            a{
                                padding: 14px 20px;
                                position: relative;
                                display: block;
                                font-size: 16px;
                                font-weight: 500;
                                @include transition(0.3s);
                                &::before{
                                    position: absolute;
                                    top: 23px;
                                    left: 20px;
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    background-color: $clr_kepple;
                                    visibility: hidden;
                                    opacity: 0;
                                    @include transition(0.4s);
                                }
                                &.active,
                                &:hover{
                                    color: $clr_kepple;
                                    padding-left: 32px;
                                    &:before{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                                &:hover,
                                &:focus,
                                &.active{
                                    width: 100%;
                                    right: auto;
                                    left: 0;
                                }
                                 i {
                                    margin: 0;
                                    position: absolute;
                                    top: 55%;
                                    font-size: 16px;
                                    line-height: 1;
                                    @include  transform(translateY(-50%)); 
                                    right: 15px;
                                }
                            }
                            .dropdown-menu{
                                top: 0;
                                opacity: 0;
                                left: -250px;
                                right: auto;
                                visibility: hidden;
                            }
                            &:hover{
                                .dropdown-menu {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &:hover{
                        .dropdown-menu {
                            top: 83px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            .others-options{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align:center;
                -ms-flex-align:center;
                align-items:center;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
        height: 100vh;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-btn a {
        padding: 12px 20px;
    }
    .header-wrap .navbar .navbar-nav .nav-item a {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1400px) {
    .header-wrap{
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin: 0 15px;
                    a{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1600px) {
    .header-wrap {
        .container {
            max-width: 1520px;
        }
    }
}